/* 
Quy tắc làm:
+ Từ ngoài vào trong
+ Từ trên xuống dưới
+ Từ tổng quan đến chi tiết
*/

/* 
Tự đặt câu hỏi:
+ Vị trí
+ Kích thước 
+ Màu sắc
+ Kiểu dáng (Kiểu chữ, hình tròn, hình vuông,..)
*/

/* Hàm chung */
:root {
    --my-color-1: #fff;
}
.clear {
    clear: both;
}

/* Reset css */
* {
    /* Emmet */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.text-center {
    text-align: center;
}
/* html */
html {
    font-family: helvetica, Arial, sans-serif;
}
/* main */
#main{

}
/* header */
#header{
    height: 46px;
    background-color: #2980b9;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
#header .search_btn {
    float: right;
    padding: 0 21px;
}
#header .search_icon {
    color: #000;
    font-size: 20px;
    line-height: 46px;
}
/* navigation */
#nav {
    display: inline-block;
}
#nav li {
    position: relative;
    display: inline-block;
}
#nav li a {
    text-decoration: none;
    line-height: 46px; /*Áp dụng cho thuộc tính chữ*/
    padding: 0 24px; /*Trên dưới    Trái phải*/
    display: inline-block;
}
#nav li:last-child:hover .sub_nav {
    display: block;
}
#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}
#nav > li:hover > a,
#nav .sub_nav li:hover a,
#header .search_btn:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}
#nav li:hover a{
    cursor: pointer;
}
#nav .arrow_cicrle_down {
    font-size: 13px;
}
/* sub_navigation */
#nav .sub_nav {
    display: none; 
    position: absolute;
    background-color: #2980b9;
    box-shadow: 0 0 5px #2980b9;
    min-width: 135px;
}
#nav .sub_nav a {
    color: #fff;
    width: 135px;
    padding: 0 10px;
    line-height: 38px;
}
/* title */
#title {
    margin-top: 46px;
    position: relative;
}

/* slider */
#slider{
    /* margin-top: 46px; */
}
/* content */
#content{
    
}
/* footer */
#footer{

}
